body {
  margin: 0;
  font-family: Trebuchet MS, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

*{
  font-family: Bookman, URW Bookman L, serif
}
